%div{"data-controller" => "blur"}
  .bg-gray-800.w-full.h-screen.sm:grid.grid-cols-1.xl:grid-cols-2.gap-2
    .bg-black.p-16.lg:p-4.flex.justify-center.items-center
      %img{"data-blur-target" => "image", src: "#{@question[:pokemon_image_url]}", style: "filter: blur(20px);"}
    .text-center
      %main.py-6.flex.w-full.items-center.justify-center.bg-gray-800.lg:min-h-screen
        .text-center.flex.flex-col.items-center
          %h1.text-white.text-2xl.font-semibold.m-6.pb-4= @question[:question]
          = form_with url: game_quizzes_path, data: {blur_target: "form"}, method: :post, local: true do |form|
            .grid.grid-cols-2.gap-4
              - @question[:answer_options].each_with_index do |option, index|
                .flex.items-center
                  .inline-block.radio
                    = form.radio_button :user_answer, option, id: "option_#{index}", class: "hidden peer", required: true
                    %label.w-32.h-10.cursor-pointer.text-normal.sm:w-44.sm:h-12.sm:text-xl.sm:font-normal.rounded-lg.flex.justify-center.items-center.bg-gray-200.text-gray-600.transition-colors.duration-300.hover:bg-gray-300.hover:text-gray-700.peer-checked:bg-green-500.peer-checked:text-white{for: "option_#{index}"}
                      = option
            = form.hidden_field :correct_answer, value: @question[:correct_answer]
            = form.hidden_field :question, value: @question[:question]
            .flex.items-center.justify-center.mt-10
              = render ButtonGroup::Component.new(form: form, game_id: params["game_id"])
