!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title PokeQuiz
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = javascript_importmap_tags

  %body.bg-gray-800
    - if devise_controller?
      %main
        = yield
    - else
      %nav.border-b.border-gray-700.fixed.z-30.w-full.block
        = render "layouts/shared/navbar"
