!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title PokeQuiz
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    %link{href: "https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css", rel: "stylesheet"}
    = javascript_importmap_tags

  %body
    - if devise_controller? || controller_name == 'home'
      %main
        = yield
    - else
      %nav.border-b.border-gray-700.fixed.z-30.w-full
        = render "layouts/shared/navbar"
      .flex.overflow-hidden.bg-white
        #main-content.h-full.w-full.bg-gray-50.relative.overflow-y-auto
          %main
            = yield